@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

body {
  font-size: 10px;
  background-color: #457b9d;
  font-family: "Overpass", sans-serif;
}

header {
  padding: 1rem;
  background-color: #1d3557;
  color: #f1faee;
}

header h1 {
  font-size: 2rem;
}

main {
  padding-bottom: 4rem;

  color: #f1faee;
}

.search-container {
  padding: 1rem;
}

.list-group {
  font-size: 1.5rem;
}

.list-group li {
  padding: 1rem;
  color: #1d3557;
}

.list-group li:hover {
  background-color: #1d3557;
  color: #f1faee;
  transition: 0.25s;
}

#one-day-result {
  color: #ffffff;
  background-color: #1d3557;
  margin-top: 2rem;
  border: 1px solid #1d3557;
  border-radius: 5px;
  padding-top: 2rem;
  padding-bottom: 3rem;
  box-shadow: 1px 1px 10px #1d3557;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}